:root {
    /* Define custom properties for all colors */
    --colorD_1: #1f1f1f;
    --colorD_2: #282828;
    --colorD_3: #464646;
    --colorD_4: #d6d6d6;
    --colorD_5: #61626e; 
    --colorD_5-1: #505262; 
    --colorD_6: #888888; 
    --colorD_6-1: #cccccc; 
    --colorD_7: #313131;
    --colorD_8: #f0f0f0; 
    --colorD_9: #161616; 
}

body.dark-mode {
    background-color: var(--colorD_1);
    color: var(--colorD_4);
}

/* Header ----------------------------------------------------------------*/
body.dark-mode header {
    background-color: var(--colorD_2);
    border-color: var(--colorD_3);
}

body.dark-mode header h1 {
    color: var(--colorD_4);
}

body.dark-mode .btn-nav {
    background-image: url('/img/nav.iconW.png');
}

/* Nav panel */
body.dark-mode #nav {
    background-color: var(--colorD_5);
    border-color: var(--colorD_4);
}

body.dark-mode #nav li {
    border-color: var(--colorD_6);
    background-color: var(--colorD_5-1);
}

body.dark-mode #nav li a {
    color: var(--colorD_6);
}

body.dark-mode #nav li.actual a {
    color: var(--colorD_6-1);
}

/* Content ---------------------------------------------------------------*/
body.dark-mode .container {
    background-color: var(--colorD_7);
    border-color: var(--colorD_3);
    color: var(--colorD_4);
}

body.dark-mode .container h1,
body.dark-mode .container h2,
body.dark-mode .container h3,
body.dark-mode .container h4,
body.dark-mode .container h5,
body.dark-mode .container h6 {
    color: var(--colorD_8);
}

body.dark-mode .sliderSection {
    background-color: var(--colorD_7);
    border-color: var(--colorD_4);
}

body.dark-mode .project-container_rect{
    border-color: var(--colorD_5)
}
body.dark-mode .project-container_rect p{
    color: var(--colorD_6-1);
}
body.dark-mode .project-container_rect small{
    color: var(--colorD_6);
}

/* Error -----------------------------------------------------------------*/
body.dark-mode .error {
    color: var(--colorD_4);
}

body.dark-mode .error h1 span {
    color: var(--colorD_4);
    text-shadow: -0.5vw 0 0 var(--colorD_7);
}

/* Footer ----------------------------------------------------------------*/
body.dark-mode footer {
    background-color: var(--colorD_9);
    color: var(--colorD_6);
}
