:root {
    /* Define custom properties for all colors */
    --colorL_1: whitesmoke;
    --colorL_2: #ffffff;
    --colorL_3: #ccc;
    --colorL_4: #363636;
    --colorL_5: #585976;
    --colorL_5-1: #515268;
    --colorL_6: #888888;
    --colorL_6-1: #cccccc;
    --colorL_7: #f0f0f0;
    --colorL_8: #514444;
    --colorL_9: #303030;
}

body.light-mode {
    background-color: var(--colorL_1);
    color: var(--colorL_4);
}

/* Header ----------------------------------------------------------------*/
body.light-mode header {
    background-color: var(--colorL_2);
    border-color: var(--colorL_3);
}

body.light-mode header h1 {
    color: var(--colorL_4);
}

body.light-mode .btn-nav {
    background-image: url('/img/nav.iconB.png');
}

/* Nav panel */
body.light-mode #nav {
    background-color: var(--colorL_5);
    border-color: var(--colorL_4);
}

body.light-mode #nav li {
    border-color: var(--colorL_6);
    background-color: var(--colorL_5-1);
}

body.light-mode #nav li a {
    color: var(--colorL_6);
}

body.light-mode #nav li.actual a {
    color: var(--colorL_6-1);
}

/* Content ---------------------------------------------------------------*/
body.light-mode .container {
    background-color: var(--colorL_7);
    border-color: var(--colorL_3);
    color: var(--colorL_4);
}

body.light-mode .container h1,
body.light-mode .container h2,
body.light-mode .container h3,
body.light-mode .container h4,
body.light-mode .container h5,
body.light-mode .container h6 {
    color: var(--colorL_8);
}

body.light-mode .sliderSection {
    background-color: var(--colorL_7);
    border-color: var(--colorL_4);
}
body.light-mode .project-container_rect{
    border-color: var(--colorL_5)
}
body.light-mode .project-container_rect p{
    color: var(--colorL_6-1);
}
body.light-mode .project-container_rect small{
    color: var(--colorL_6);
}
/* Error -----------------------------------------------------------------*/
body.light-mode .error {
    color: var(--colorL_4);
}

body.light-mode .error h1 span {
    color: var(--colorL_4);
    text-shadow: -0.5vw 0 0 var(--colorL_7);
}

/* Footer ----------------------------------------------------------------*/
body.light-mode footer {
    background-color: var(--colorL_9);
    color: var(--colorL_6);
}
