html{
    /* position */
    /* dimention */
    height: 100%;
    /* behavior */
    /* visual*/
}
body{
    /* position */
    /* dimention */
    height: 100%;
    /* behavior */
    /* visual*/
}
/*
  ----------------------------------------------------------------
    Header
  ----------------------------------------------------------------
*/
header{
  /* position */
  position: fixed;
  /* dimention */
  width: 75%;
  height: 15%;
  /* behavior */
  padding: 15px;
  padding-right: 12px;
  margin-right: 25%;
  text-align: center;
  /* cursor: pointer; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  /* visual*/
  border-bottom: 2px solid; /* Grey border */
  border-radius: 0 0 80px 0;
}  
header h1 {
/* position */
/* dimention */
height: 40%;
width:fit-content;
/* behavior */
margin: 0;
margin-left: 15px;
/* visual*/
font-size: 1.9rem;
}
.btn-nav{
  /* position */
  /* dimention */
  width: 42px;
  height: 42px;
  /* behavior */
  transition: transform 0.6s ease;
  /* visual*/
  border: 3px solid;
  border-radius: 15px;
  background-size: cover; /* Optional: to cover the element */
  background-position: center; /* Optional: to center the image */
}
.btn-nav.open{
  transform: rotate(-90deg);
}
#nav.open {
  left: 0;
}
/* Content ----------------------------------------------------------------*/
.next-div{
  /* dimention */
  height: 100%;
  width: 100%;
}
.main-container{
  /* position */
  /* dimention */
  height: 100%;
  /* behavior */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  overflow-y: auto;
  /* visual*/
}
.container{
  /* position */
  /* dimention */
  min-height: 76%;
  width: 95%;
  /* behavior */
  margin-top: 37%;
  margin-bottom: 10px;
  padding: 0% 2% 0% 2%;

  display: flex;
  flex-direction: column;
  /* visual*/
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
}
.container h1{
  /* position */
  /* dimention */
  /* behavior */
  /* visual*/
  font-size: 1.3rem;
}
/* */
.sliderSection{
  /* position */
  /* dimention */
  /* behavior */
  padding: 5px;
  /* visual*/
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;

}
.sliderSection h1{
  /* position */
  /* dimention */
  /* behavior */
  /* visual*/
  font-size: 1.1rem;
}
/* Footer ----------------------------------------------------------------*/
footer {
  /* position */
  /* dimension */
  height: 6%;
  width: 100%;
  /* behavior */
  display: flex; /* Enables flexbox */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  /* visual */
}

footer p {
  /* position */
  /* dimension */
  /* behavior */
  text-align: center; /* Center text within the paragraph */
  /* visual */
  margin: 0; /* Remove default margin */
}